.body-section {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.selector-object-section {
    border-right: solid 1px;
    width: 50%;
}

.information-about-object-section {
    width: 50%;
}
    
/* FORM */

#obj-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#object-input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#submit-button {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}
