<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <title>Projet CIEL</title>
</head>
<body>
    <header>
        <h1 id="title">Projet CIEL</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('status') }}">status</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-area">
        {% block content %}{% endblock %}
    </div>

    <div class="bottom-panel-content">
        <div class="selected-object-low-view">
                <div class="obj-content" id="obj-content">
                            <span id="target">Target: {{ target_name }}</span>
                            <span id="alt">ALT: {{ target_alt }}</span>
                            <span id="az">AZ: {{ target_az }}</span>
                </div>
                <div class="status-content">
                        <span id="status-text"></span>
                </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='layout.js') }}"></script>
</body>
</html>